.slip-container {
  min-width: 400px;
  margin: 10px;
  padding: 5px;
  /* border: 1px solid; */
  /* border-radius: 15px; */
}

.slip-tabs {
  /* height: 35px; */
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  /* width: 100%; */
  /* background-color: green; */
}

.slip-tab {
  /* width: 150px; */
  /* height: 35px; */
  display: flex;
  /* flex-direction: column; */
  /* width: 100%; */
  background-color: #FFFFFF;
}

#slip-tab-cart {
  border: none;
  width: 50%;
}

#slip-tab-active {
  border: none;
  width: 50%;
}

.slip-tab-focus {
  /* width: 150px; */
  background-color: #85bb65;
  color: white;
  font-weight: bold;
}

.slip-tab-unfocus {
  /* width: 150px; */
  background-color: #D0D3D4;
}

.empty-slip-container {
  height: 150px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#empty-slip-image {
  height: 50px;
  width: 50px;
  /* color: black; */
}

.slip-total-money {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: white;
}

.slip-summary-section {
  background-color: #63676b;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}

.slip-button {
  width: 110px;
}

.slip-title {
  display: flex;
  flex-direction: row;
  align-self: center;
  /* width: 300px; */
  margin-left: 10px;
}

.slip-header {
  background-color: var(--main-blue-back-color);
  color: white;
  /* height: 40px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  font-weight: bold;
  font-size: 20px;
  height: 50px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

