.betting-area-container {
  /* display: flex;
  flex-direction: column; */
  width: 95%;
  /* justify-content: center; */
  /* align-items: center; */
}

.betting-container {
  display: flex;
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%; */
  width: 100%;
  /* min-width: 1400px; */
  /* justify-content: space-evenly; */
  justify-content: space-between;
  /* width: 100%; */
  /* width: 100%; */
}

