.line-edit-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.dropdown-buttons-slip {
  /* display: flex; */
  /* top: 100%; */
  /* flex-direction: column; */
  position: absolute;
  /* z-index:1; */
}

.dropdown-button-slip {
  height: 20px;
  display: flex;
  flex-direction: row;
  /* z-index: 1; */
  /* position: absolute; */
  /* top: 100%; */
  /* flex-direction: column; */
  width: 110px;
}

.target-button {
  display: flex;
  height: 20px;
  width: 110px;
  /* position: relative; */
}

/* .target-button-contents {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} */
