.login-form {
  height: 300px;
  width: 300px;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  padding: 10px;
  border: 1px darkblue solid;
}

.login-row {
  margin: 20px;
}

.login-field {
  width: 200px;
  height: 30px;
  padding-left: 5px;
}

.login-button {
  width: 200px;
  height: 30px;
  background-color: green;
  color: var(--primary-light-font-color);
}

.login-form-title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 40px;
  margin-top: 30px;
}
