/* .player-prop-header-button {
  width: 750px;
  background-color: lightgray;
  height: 40px;
}

.player-prop-game-body {
  display: flex;
  flex-direction: row;
}

.propActiveBtn {
  background-color: darkblue;
  color: white;
}


/* .player-prop-header {
  display: flex;
  flex-direction: row;
} */