.nav-button {
  width: 100%;
  background-color: var(--primary-light-body-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.nav-button-active {
  color: var(--primary-light-font-color);
  font-weight: bold;
  background-color: #85bb65;
}

.league-dropdown {
  width: 100%;
  background-color: var(--primary-light-body-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.nav-button-icon {
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-self: left; */
  /* align-self: center; */
  /* text-align: left; */
}

.nav-button-right {
  /* display: flex;
  flex-direction: row;
  justify-content: right;
  align-self: center; */
  /* text-align: left; */
}