.dashboard-container {
  width: 80%;
  background-color: white;
  /* margin-left: 30px;
  margin-top: 30px; */
}

.dashboard-title {
  text-align: left;
  color: white;
  font-weight: bold;
  background-color: darkblue;
  height: 40px;
  font-size: 20px;
  padding-left: 10px;
  padding-top: 5px;
}

.dashboard-body {
  height: 300px;
  background-color: white;
}
